
<app-header></app-header>
<section  class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <app-left-content></app-left-content>
                </div>
                <div class="col-md-6">
                    <app-right-content></app-right-content>
                </div>
            </div>
        </div>
    </div>
</section>
<app-food></app-food>

<section class="about_section layout_padding">
<div class="container  ">
<app-about></app-about>
</div>
</section>
<app-bookatable></app-bookatable>
<app-client></app-client>